<div class="form">
  <div class="header">
    <h2>
      CHECK-IN
    </h2>
  </div>

  <div class="content">

    <h1> RETRIEVE YOUR BOOKING </h1>
    <h1>—</h1>
    <p>You can find your booking by filling out your family name and the booking code in your booking confirmation.</p>
    <form no-validate class="formgroup" [formGroup]='registerForm' (ngSubmit)='onSubmit()'>
      <div class="field">
        <label>Booking code</label>
        <input type="text" id="booking" formControlName="bookingcode">
        <p class="error" id="bookingerror" *ngIf="!registerForm.controls['bookingcode'].valid && registerForm.controls['bookingcode'].touched">Invalid</p>
      </div>

      <div class="field">
        <label>Family name</label>
        <input id="family" type="text" formControlName="familyname">
         <p class="error" id="familyerror" *ngIf="!registerForm.controls['familyname'].valid && registerForm.controls['familyname'].touched">Invalid</p>
      </div>


    <button id="submitbutton" type="submit" [disabled]="!registerForm.valid" >Retrieve booking</button>
    </form>

    
  </div>

</div>